<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log in</title>
  </head>
  <body>
    <%- include("partials/header") %>
    <form action="/log-in" method="POST">
      <p>
        <label for="email">Email: </label>
        <input type="email" name="username" id="email" />
      </p>

      <p>
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" />
      </p>

      <p>
        <button type="button">Quit</button>
        <button type="submit">Submit</button>
      </p>
    </form>

    <% if(locals.info){ %>
    <ul>
      <li>
        <%= info.message %>
      </li>
    </ul>
    <% } %>

  </body>
</html>
