<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Membership Form</title>
  </head>
  <body>
    <%- include("partials/header") %>
    <form action="/membership" method="POST">
      <p>
        <label for="membership">Membership Code: </label>
        <input type="password" name="membership" id="membership" />
      </p>
      <p>
        <<button onclick="window.location.href='/'" type="button">Quit</button>
        <button type="submit">Submit</button>
      </p>
    </form>
    <%- include("partials/errors.ejs") %>
  </body>
</html>
